apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-eks
  labels:
    app: hello-eks

spec:
  replicas: 2
  selector:
    matchLabels: 
      app: hello-eks
  template:
    metadata:
      labels:
        app: hello-eks
    spec:
      containers:
      - name: hello-eks
        image: manasthakur/hello-eks:latest
        ports:
        - containerPort: 3000

        livenessProbe:
          httpGet:  
          path: /health
          port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5

        readinessProbe:
          httpGet:
          path: /health
          port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5


        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"